@tailwind base;
@tailwind components;
/* Stop purging. */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


body,form,button {
  -webkit-animation: fade-in 0.8s ease-out forwards;
  animation: fade-in 0.8s ease-out forwards;
  opacity: 0;
  -webkit-transform: translateY(0.2em);
  transform: translateY(0.2em);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.red400 {
  color: rgba(252, 129, 129, 1);
}

.green400 {
  color: rgba(28, 166, 145, 1);
}

.red400border {
  border-color: rgba(252, 129, 129, 1);
}

.green400border {
  border-color: rgba(28, 166, 145, 1);
}

select, input {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

textarea:focus, input:focus, button:focus, button:active{
  outline: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

* {
  box-sizing: border-box;
}

.modal {
  background-color: rgba(0, 0, 0, 0.699);
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */
